body{
    background-color: rgb(226, 226, 226);
}

.card {
    box-shadow: 0 14px 19px 0 rgba(0, 0, 0, 0.2);
    width: 700px;
    margin: 10% 1%;
    
    font-family: arial;
  }
  .card:hover{
      background-color: #000;
      color: aliceblue;
      transition: 0.6s ease;
      color: #000;
  }
  
  .price {
    color: rgb(0, 0, 0);
    font-size: 22px;
  }
  .bprice{
    color: grey;
    width: 600px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgb(20, 20, 20);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    background-color: aliceblue;
    transition: 0.4s ease;
    color: #000;
  }
  #text-shop{
      text-align: center;
      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
      padding: 2% 20%;
  }
.shop{
    display: flex;
    flex-direction: column;
}
.products{
    display: flex;
    flex-direction: row;
    margin-top: 4%;
    margin-bottom: 4%;
}
#span-text1{
font-size: 15px;
position: absolute;
color:rgb(226, 226, 226);
margin: 0px 70px;
}
.card{
    font-size: 16px;
    color: black;
}
@media screen and (max-width:850px) {
  .products{
      width: 850px;
      flex-direction: column;
      margin: 0% auto;
  }
  .card{
    max-width: 460px;
    margin: 2% auto;
  }
  #span-text1{
    margin: 0px 150px;
  }
}